<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Divvy Bikes</h2>

<table border="1">
  <tr>
    
    <th>Number Of</th>
    <th>Quantity</th>
    <th>Remarks(If any)</th>
  </tr>
  
  <tr>
    <th>Docks</th>
    <td>{{num_docks}}</td>
    
  </tr> 
  <tr>
    <th>Bikes</th>
    <td>{{num_bike}}</td>
    
  </tr>
  <tr>
    <th>Station</th>
    <td>{{num_stn}}</td>
    
  </tr>
  <tr>
    <th>Bike is Reserved</th>
    <td>{{num_avail_bike}}</td>
    <td>I take "1" is available </td>
    
  </tr>

</table>
    
</body>
</html>